{% capture widget_header %}
  <strong>Affiliates</strong>
  <i data-feather="droplet" class="float-right"></i>
{% endcapture %}

{% capture widget_body %}
  <ul class="widget-list">
    <li><a href="http://epsi-rns.github.io/"
          >Linux/BSD Desktop Customization</a></li>
    <li><a href="http://epsi-rns.gitlab.io/"
          >Mobile/Web Development Blog</a></li>
    <li><a href="http://oto-spies.info/"
          >Car Painting and Body Repair.</a></li>
  </ul>
{% endcapture %}

{% assign color = "green" %}
{% include template/widget.html %}
