{% capture widget_header %}
  <strong>Archives</strong>
  <i data-feather="external-link" class="float-right"></i>
{% endcapture %}

{% capture widget_body %}
  {% assign pg_year   = page.date | date: '%Y' %}
  {% assign pg_month  = page.date | date: '%m' %}
  {% assign path_y = "/pages/by-year"  | prepend: site.baseurl %}
  {% assign path_m = "/pages/by-month" | prepend: site.baseurl %}
  
  {% assign postsByYear = site.posts | group_by_exp: "post", "post.date | date: '%Y'"  %}
  {% for year in postsByYear %}
      <div class ="archive-year" id="{{ year.name }}">
        <a href="{{ path_y }}#{{ year.name }}">
        {{ year.name }}</a>
      </div>

    {% if pg_year == year.name %}
    <ul class="widget-archive">
      {% assign postsByMonth = year.items | 
                group_by_exp: "post", "post.date | date: '%m'" %}
      {% assign postsByMonthSorted = postsByMonth | 
                sort: 'name' | reverse %}

      {% for month in postsByMonthSorted %}
      <li class="list-month">
        {% for post in month.items limit:1 %}
        <span class ="archive-month">
          <a href="{{ path_m }}#{{ post.date | date: '%Y-%m' }}">
            {{ post.date | date: '%B %Y' }}
          </a></span>
        {% endfor %}

        {% if pg_month == month.name %}
        <ul class="widget-list">
          {% for post in month.items %}
          <li>    
            <a href="{{ site.baseurl }}{{ post.url }}"
              >{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endfor %}
{% endcapture %}

{% assign color = "green" %}
{% include template/widget.html %}
