{% comment %}
fake randomize by using date day for array under 30 data
{% endcomment %}

{% capture widget_header %}
  <strong>Isle of Dotsites</strong>
  <i data-feather="users" class="float-right"></i>
{% endcapture %}

{% capture widget_body %}
  {% assign length = 5 %}
  {% assign size_adjusted = site.data.friends | size | minus: length %}
  {% assign start = page.date | date: "%d" | modulo: size_adjusted %}

  <ul class="widget-list">
    {% assign selection = site.data.friends | slice: start, length %}
    {% for friend in selection %}
    <li><a href="{{ friend.url }}">{{ friend.title }}</a></li>
    {% endfor %}
  </ul>
{% endcapture %}

{% assign color = "pink" %}
{% include template/widget.html %}
