{% capture widget_header %}
  <strong>Car Painting and Body Repair</strong>
  <i data-feather="tool" class="float-right"></i>
{% endcapture %}

{% capture widget_body %}
  <a href="http://oto-spies.info/">
    <img src="{{ site.baseurl }}/assets/images/adverts/oto-spies-01.png"
         alt="Oto Spies"></a>
{% endcapture %}

{% assign color = "gray" %}
{% include template/widget.html %}

