---
layout : default
---
  <main role="main" class="col px-0">
    <section class="main-wrapper single oc-blue-5">
      <div class="blog oc-white z-depth-3 hoverable">
        <section class="blog-header oc-blue-1 text-center">
          <h2 class="h4 font-weight-bold" itemprop="name headline">
            {{ page.title | default: site.title }}</h2>
        </section>

        <article class="blog-body text-center" itemprop="articleBody">
          {{ content }}
        </article>
        
        <div class="text-muted text-center">
          <i data-feather="home"></i>&nbsp;
          This is a home kind layout,
          to show landing page.
        </div>
      </div>
    </section>
  </main>
