---
layout: default
aside_message : This is a page kind layout.
---

  <main class="col-md-8 px-0">
    <section class="main-wrapper oc-pink-5">
      <div class="blog oc-white z-depth-3 hoverable">

        <section class="blog-header oc-pink-1">
          <h1 class="h4 font-weight-bold" itemprop="name headline">
            {{ page.title | default: site.title }}</h1>
        </section>

        <article class="blog-body" itemprop="articleBody">
          {{ content }}
        </article>

      </div>
    </section>
  </main>

  <aside class="col-md-4 px-0">   
    <section class="aside-wrapper oc-green-5">
      <div class="widget oc-white z-depth-3 hoverable">     

        <div class="widget-header oc-green-1">
          <strong>Side Menu</strong>
          <i data-feather="coffee" class="float-right"></i>
        </div>

        <div class="widget-body">
          {{ layout.aside_message }}
        </div>

      </div>
    </section>
  </aside>
