---
layout: default
aside_message : This is a post kind layout.
---

  <main class="col-md-8 px-0">
    <section class="main-wrapper oc-blue-5">
      <div class="blog oc-white z-depth-3 hoverable">

        <section class="blog-header oc-blue-1">
          <h1 class="h4 font-weight-bold" itemprop="name headline">
            {{ page.title | default: site.title }}</h1>
          <p><strong>{{ page.date | date: "%B %d, %Y" }}</strong></p>
        </section>

        <article class="blog-body" itemprop="articleBody">
          {{ content }}
        </article>

      </div>
    </section>
  </main>

  <aside class="col-md-4 px-0">   
    <section class="aside-wrapper oc-teal-5">
      <div class="widget oc-white z-depth-3 hoverable">     

        <div class="widget-header oc-teal-1">
          <strong>Side Menu</strong>          
          <i data-feather="activity" class="float-right"></i>
        </div>

        <div class="widget-body">
          {{ layout.aside_message }}
        </div>

      </div>
    </section>
  </aside>

