  
  <footer class="footer">
    <div class="maxwidth maxwidth_toggler
                text-dark text-center
                oc-white z-depth-3 hoverable">
      &copy; {{ site.time | date: '%Y' }}.
    </div>
  </footer>
