
  {% comment %}
  JavaScript at end of body for optimized loading
  {% endcomment %}

  {% if page.mathjax %}
    {% include site/mathjax.html %}
  {% endif %}

  {% if page.customjs %}
    {% for js in page.customjs %}
      <script src="{{ site.baseurl }}{{ js }}"></script>
    {% endfor %}
  {% endif %}

  <script>
    feather.replace()
  </script>
