---
layout: home
---

  <br/>

  <p>
    <a class="btn oc-blue-9 oc-white-text my-2"
       href="{{ site.baseurl }}/by-month/"
      >Articles Sorted by Month</a>
    <a class="btn oc-gray-7 oc-white-text my-2"
       href="{{ site.baseurl }}/tags/"
      >Articles Sorted by Tag</a>
  </p>

  <p>As always,
  should you be caught or killed,
  any knowledge of your actions will be disavowed.</p>

  <div class="textcenter">
    <img src="assets/images/cards/one-page.png" 
         alt="business card">
  </div>

  <p class="small lead text-muted">    
      Whitewood Street, Monday Market,
      East Jakarta, 55112, Indonesia.
  </p>
