{% capture widget_header %}
  <strong>Recent Posts</strong>
  <i data-feather="clock" class="float-right"></i>
{% endcapture %}

{% capture widget_body %}
  <ul class="widget-list">
    {% for post in site.posts limit:5 %}
    <li><a href="{{ site.baseurl }}{{ post.url }}"
      >{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endcapture %}

{% assign color = "red" %}
{% include template/widget.html %}
