{% unless page.related_link_ids == nil 
   or page.related_link_ids == empty %}

  {% capture widget_header %}
  <strong>Related Posts</strong>
  <i data-feather="link-2" class="float-right"></i>
  {% endcapture %}

  {% capture widget_body %}
  <ul class="widget-list">
    {% for link_id in page.related_link_ids %}
    <li>
      {% for dpost in site.data.archives %}
      {% if dpost.id == link_id %}
        <a href="{{ site.baseurl }}{{ dpost.url }}"
          >{{ dpost.title }}</a>
      {% endif %}
      {% endfor %}
    </li>
    {% endfor %}
  </ul>
  {% endcapture %}

  {% assign color = "lime" %}
  {% include template/widget.html %}
{% endunless %}
