
  <header class="p-2"> 
    <div class="main_title"> 
      <h1 class="h4 font-weight-bold" itemprop="name headline">
        <a class="text-dark"
           href="{{ site.url | append:site.baseurl | append:page.url }}"
        >{{ page.title }}</a></h1>
    </div>

    <div class="clearfix"></div>
    
    <div class="float-left">
      {% if page.author %}
        <span class="badge mr-2 oc-indigo-7 oc-white-text z-depth-1 hoverable">
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">
            <i data-feather="user" class="feather-14"></i>&nbsp;
            {{ page.author }}
          </span></span>
        </span>
      {% endif %}
        <span class="badge mr-2 oc-green-7 oc-white-text z-depth-1 hoverable">
          <i data-feather="calendar" class="feather-14"></i>&nbsp;
          {% include post/time-elapsed.html %}
        </span>
    </div>
    <div class="float-right">
      <span class="mr-2">
        {% for cat in page.categories %}
          <a href="{{ site.url | append:site.baseurl }}/pages/category#{{ cat }}">
            <span class="badge oc-teal-7 z-depth-1 hoverable">
            <i data-feather="folder" class="feather-14"></i>
            &nbsp;{{ cat }}</span></a>
        {% endfor %}
        &nbsp;
      </span>
      <span class="mr-2">
        {% for tag in page.tags %}
          <a href="{{ site.url | append:site.baseurl }}/pages/tag#{{ tag }}">
            <span class="badge oc-teal-7 oc-white-text z-depth-1 hoverable">
            <i data-feather="tag" class="feather-14"></i>
            &nbsp;{{ tag }}</span></a>
        {% endfor %}
      </span>
    </div>

    <div class="clearfix"></div>
  </header>
