
<script src="{{ site.baseurl }}/assets/js/custom-toggler.js"></script>
<section class="m-1 d-none d-sm-block">
  <button id="left_toggler"
          class="btn btn-sm btn-light
                 float-left oc-black-text
                 left_toggler_active">
    <img src="{{ site.baseurl }}/assets/icons/chevrons-left.svg"
         alt="Toggle Maxwidth">
  </button>
  <button id="right_toggler"
          class="btn btn-sm btn-light
                 float-right oc-black-text
                 right_toggler_active">
    <img src="{{ site.baseurl }}/assets/icons/chevrons-right.svg"
         alt="Toggle Sidebar">
    </span>
  </button>
  <div class="clearfix"></div>
</section>
