// -- -- -- -- --
// _list.scss

ul.widget-list li:hover {
  background: map-get($oc-yellow-list, '3');
}

ul.widget-list {
  padding: 0px;
}

ul.widget-list {
  padding-left: 0;
  font-size: 13px;
  margin-left: 20px;
  list-style-image: url(../icons/chevrons-right-resized.svg);
}

ul.widget-list li:hover:before {
  color: map-get($oc-yellow-list, '5');
}


// -- -- -- -- --
// Components: Tags

.archive-year {
  font-weight: bold;
}

// -- -- -- -- --
// Flip Flop

div.archive-list {
  padding-left: 10px;
  padding-right: 10px;
}
.archive-list {
  .archive-item:nth-child(even) {
    background-color: map-get($oc-gray-list, "0");
  }
  .archive-item:nth-child(odd) {
    background-color: map-get($oc-gray-list, "1");
  }
  .archive-item:hover {
    background-color: map-get($oc-yellow-list, "3");
  }
}
.meta-item:nth-child(even) {
    background-color: map-get($oc-gray-list, "0");
}
.meta-item:nth-child(odd) {
    background-color: map-get($oc-gray-list, "1");
}
.meta-item:hover {
    background-color: map-get($oc-yellow-list, "3");
}
