
  <div class="main_title"> 
    <h1 class="h4 font-weight-bold" itemprop="name headline">
      {{ page.title | default: site.title }}</h1>
    <p><strong>{{ page.date | date: "%B %d, %Y" }}</strong></p>
  </div>
