
  <ul class="pagination justify-content-between" 
      role="navigation" aria-labelledby="pagination-label">

      {% if page.previous %}
      <li class="page-item post-previous">
        <a class="page-link" 
           href="{{ page.previous.url | prepend: site.baseurl }}"
           title="{{ page.previous.title }}">
           <i data-feather="chevron-left"></i>
        </a>
      </li>
      {% endif %}

      {% if page.next %}
      <li class="page-item post-next">
        <a class="page-link" 
           href="{{ page.next.url | prepend: site.baseurl }}" 
           title="{{ page.next.title }}">
           <i data-feather="chevron-right"></i>
        </a>
      </li>
      {% endif %}

  </ul>

