
  <div class="meta">
    <div class="meta_time float-left">
      <i data-feather="calendar"></i>&nbsp;
      <time datetime="{{ post.date | date_to_xmlschema }}">
      {{ post.date | date: "%b %-d, %Y" }}</time>
    </div>      
    <div class="meta_tags float-right">
      {% for tag in post.tags %}
      <span class="badge oc-{{ color_main }}-9 z-depth-1 hoverable m-2">
        <a class="oc-white-text"
           href="{{ site.baseurl }}/tags/{{ tag | slugify }}"
          >{{ tag }}&nbsp;<i data-feather="tag" class="feather-14"></i>
        </a></span>&nbsp;
      {% endfor %}
    </div>
  </div> 

  <div class="clearfix"></div>
