{% assign color_main  = page.color_main
          | default: layout.color_main %}

{% assign postsByYear = posts
          | group_by_exp: "post", "post.date | date: '%Y'"  %}

<div class="row" id="archive">
{% for year in postsByYear %}

  <section class="col-sm-12 col-md-6 col-lg-4 mb-2">
    <div class="widget oc-white z-depth-1 hoverable">     

      <div class="widget-header oc-{{ color_main }}-1">
        <div class ="anchor-target archive-year" 
             id="{{ year.name }}">{{ year.name | text_year }}</div>
            </div>

      <div class="widget-body responsive-img">
        <div class="archive-list py-1">
          {% for post in year.items %}
            {% include index/each-post.html %}
          {% endfor %}
        </div>
      </div>

    </div>
  </section>

{% endfor %}
</div>
