  
  {% comment %}<!-- footer -->{% endcomment %}
  <footer class="footer">
    <div class="maxwidth text-dark text-center
                oc-white z-depth-3 hoverable">
      &copy; {{ site.time | date: '%Y' }}.
    </div>
  </footer>
