---
layout: default

# default property
color_main  : blue
blog_class  : ""

# layout chuncks
blog_header : page/blog-header.html
---

{% assign color_main  = page.color_main | default: layout.color_main %}
{% assign blog_class  = layout.blog_class | default: "" %}

  <main role="main" class="col px-0">
    <section class="main-wrapper single oc-{{ color_main }}-5">
      <div class="blog oc-white z-depth-3 hoverable">

        <section class="blog-header oc-{{ color_main }}-0 {{ blog_class }}">
          {% include {{ layout.blog_header }} %}
        </section>

        <article class="blog-body {{ blog_class }}" itemprop="articleBody">
          {{ content }}
        </article>
        
      </div>
    </section>
  </main>

