
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ (page.title | default: site.title) | escape }}</title>

  <link rel="stylesheet" type="text/css"
        href="{{ site.baseurl }}/assets/css/bootstrap.css">
  <link rel="stylesheet" type="text/css"
        href="{{ site.baseurl }}/assets/css/main.css">

  <link rel="shortcut icon" type="image/x-icon"
        href="{{ site.baseurl }}/favicon.ico"/>

  <script src="{{ site.baseurl }}/assets/js/bootstrap-navbar-native.js"></script>
  <script src="{{ site.baseurl }}/assets/js/feather.min.js"></script>
