
  <nav class="navbar navbar-expand-md navbar-dark maxwidth fixed-top bg-dark">

    <a class="navbar-brand"
       href="{{ site.baseurl | prepend:site.url }}">
       <img src="{{ site.baseurl }}/assets/images/logo-gear.png"
            alt="Home" />
    </a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"
           href="{{ site.baseurl }}/pages/">
          <i data-feather="activity"></i>&nbsp;Blog
          <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <button class="navbar-toggler" type="button" 
        data-toggle="collapse" data-target="#navbarCollapse" 
        aria-controls="navbarCollapse" aria-expanded="false" 
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" 
             role="button" data-toggle="dropdown" 
             aria-haspopup="true" aria-expanded="false">
            <i data-feather="archive"></i>&nbsp;Archives
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"
               href="{{ site.baseurl }}/tags/">
              <i data-feather="tag"></i>&nbsp;By Tags
            </a>
            <a class="dropdown-item"
               href="{{ site.baseurl }}/categories/">
              <i data-feather="folder"></i>&nbsp;By Category
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ site.baseurl }}/by-year/">
              <i data-feather="calendar"></i>&nbsp;By Year
            </a>
            <a class="dropdown-item"
               href="{{ site.baseurl }}/by-month/">
              <i data-feather="calendar"></i>&nbsp;By Month
            </a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link"
             href="{{ site.baseurl }}/pages/about">
          <i data-feather="user"></i>&nbsp;About</a>
        </li>
      </ul>

      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" 
          placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" 
          type="submit">Search</button>
      </form>

    </div>
  </nav>
