{% assign color_main  = page.color_main
          | default: layout.color_main %}

{% assign postsByYear = posts |
          group_by_exp: "post", "post.date | date: '%Y'"  %}

<div id="archive">
{% for year in postsByYear %}

  {% capture spaceless %}
    {% assign current_year = 'now' | date: '%Y' %}
    {% assign year_text = nil %}

    {% if year.name == current_year %}
      {% assign year_text = year.name
                | prepend: "This year's posts (" | append: ')' %}
    {% else %}
      {% assign year_text = year.name %}
    {% endif %}
  {% endcapture %} 

  <section>
    <div class ="anchor-target archive-year" 
         id="{{ year.name }}">{{ year_text }}</div>

    {% assign postsByMonth = year.items
              | group_by_exp:"post", "post.date | date: '%m'"
              | sort: 'name'
              | reverse %}

    <div class="row">
    {% for month in postsByMonth %}

      <section class="col-sm-12 col-md-6 col-lg-4 mt-1 mb-2">
        <div class="widget oc-white z-depth-1 hoverable">     

          <div class="widget-header oc-{{ color_main }}-1">
            {% for post in month.items limit:1 %}
            <div class ="archive-month" 
                 id="{{ year.name }}-{{ month.name }}">
                 {{ post.date | date: '%b - %Y' }}</div>
            {% endfor %}
          </div>

          <div class="widget-body responsive-img">
            <div class="archive-list py-1">
              {% for post in month.items %}
                {% include index/each-post.html %}
              {% endfor %}
            </div>
          </div>

        </div>
      </section>

    {% endfor %}
    </div>
  </section>

{% endfor %}
</div>
