
  <div class="archive-item meta-item">
    <i data-feather="chevrons-right"
       class="float-left stroke-gray"></i>
    <div class="float-left">
      <a href="{{ post.url | prepend: site.baseurl }}">
      {{ post.title }}
    </a></div>
    <div class="float-right text-right">
      <time datetime="{{ post.date | date_to_xmlschema }}">
        {{ post.date | date:"%d %b" }}&nbsp;
        &nbsp;<i data-feather="calendar"></i></time></div>
    <div class="clearfix"></div>
  </div>

