<!DOCTYPE html>
<html>

<head>
  {% include site/head.html %}
</head>

<body>
  {% comment %}<!-- header -->{% endcomment %}
  {% include site/header.html %}

  {% comment %}<!-- responsive multicolor layout -->{% endcomment %}
  <div class="row layout-base maxwidth">
    {{ content }}
  </div>

  {% comment %}<!-- footer -->{% endcomment %}
  {% include site/footer.html %}
  {% include site/scripts.html %}
</body>

</html>

