---
layout: default
aside_message : This is a post kind layout.
---

  <main role="main" 
        class="col-md-8">
    <section class="p-4 bg-warning h-100 rounded">
      <header>
        <h2>{{ page.title | default: site.title }}</h2>
        <p><strong>{{ page.date | date: "%B %d, %Y" }}</strong></p>
      </header>
      <article>
        {{ content }}
      </article>
    </section>
  </main>

  <aside class="col-md-4">
      <section class="p-4 bg-dark text-light h-100 rounded">
      {{ layout.aside_message }}
    </section>
  </aside>
