
  <div>
  {% for post in posts %}
    <div class="archive pb-2">
    <div class="p-2">

      <div class="meta">
        <div class="float-left">
          <a class="text-dark"
             href="{{ post.url | prepend: site.baseurl }}"
            >{{ post.title }}
          </a>
        </div>
        <div class="float-right">
          {% for tag in post.tags %}
          <span class="badge badge-dark">
            <a class="text-light"
               href="{{ site.baseurl }}/tags/#{{ tag | slugify }}"
              >{{ tag }}&nbsp;<i data-feather="tag" class="feather-14"></i>
            </a></span>&nbsp;
          {% endfor %}
        </div>
      </div> 

      <div class="clearfix"></div>

    </div></div>
  {% endfor %}
  </div>
