{% assign postsByYear = posts
          | group_by_exp: "post", "post.date | date: '%Y'"  %}

<div id="archive">
{% for year in postsByYear %}

  {% capture spaceless %}
    {% assign current_year = 'now' | date: '%Y' %}
    {% assign year_text = nil %}

    {% if year.name == current_year %}
      {% assign year_text = year.name 
                | prepend: "This year's posts (" | append: ')' %}
    {% else %}
      {% assign year_text = year.name %}
    {% endif %}
  {% endcapture %} 

  <section>
    <p class ="anchor-target mb-0"
         id="{{ year.name }}"><b>{{ year_text }}</b></p>

    {% assign postsByMonth = year.items
              | group_by_exp:"post", "post.date | date: '%m'"
              | sort: 'name'
              | reverse %}

    {% for month in postsByMonth %}

    <div class="py-1">

      {% for post in month.items limit:1 %}
      <div id="{{ year.name }}-{{ month.name }}">
           {{ post.date | date: '%b - %Y' }}</div>
      {% endfor %}

      <div class="py-1">
        {% for post in month.items %}
        <div>
          <div class="float-left">
          <a class="text-dark"
             href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
          </a></div>
          <div class="float-right has-text-right"><time>
              {{ post.date | date:"%d %b" }}
          </time></div>
          <div class="clearfix"></div>
        </div>
        {% endfor %}
      </div>
    </div>

    {% endfor %}
  </section>

{% endfor %}
</div>
