{% assign postsByYear = posts
          | group_by_exp: "post", "post.date | date: '%Y'"  %}

<div id="archive">
{% for year in postsByYear %}

  {% capture spaceless %}
    {% assign current_year = 'now' | date: '%Y' %}
    {% assign year_text = nil %}

    {% if year.name == current_year %}
      {% assign year_text = year.name
                | prepend: "This year's posts (" | append: ')' %}
    {% else %}
      {% assign year_text = year.name %}
    {% endif %}
  {% endcapture %}

  <section>
    <p class ="anchor-target mb-0"
       id="{{ year.name }}"
      ><strong>{{ year_text }}</strong></p>

    <div class="py-1">
      {% for post in year.items %}
      <div>
        <div class="float-left">
          <a class="text-dark"
             href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a></div>
        <div class="float-right text-right">
        <time>
            {{ post.date | date:"%d %b" }}&nbsp;
        </time></div>
        <div class="clearfix"></div>
      </div>
      {% endfor %}
    </div>
  </section>

{% endfor %}
</div>
