
  <div class="post-list">
  {% for post in posts %}
    <div class="archive pb-2">
    <div class="meta-item p-2 hoverable">

      <div class="meta">
        <div class="float-left">
          <a class="meta_link oc-pink-9-text" 
             href="{{ post.url | prepend: site.baseurl }}"
            >{{ post.title }}
          </a>
        </div>
        <div class="meta_tags float-right">
          {% for tag in post.tags %}
          <span class="badge oc-pink-9 z-depth-1 hoverable m-2">
            <a class="oc-white-text"
               href="{{ site.baseurl }}/tags/#{{ tag | slugify }}"
              >{{ tag }}&nbsp;<i data-feather="tag" class="feather-14"></i>
            </a></span>&nbsp;
          {% endfor %}
        </div>
      </div> 

      <div class="clearfix"></div>

    </div></div>
  {% endfor %}
  </div>
