
  <div class="white hoverable py-1">
    <div class="widget-header oc-blue-1">

      <strong>Table of Content</strong>
      <i data-feather="link-2" class="float-right"></i>

    </div>
    <div class="widget-body oc-blue-0">

      <ul class="widget-list">
        <li><a href="{{ "/lyric/2017/03/25/nicole-atkins-a-night-of-serious-drinking.html"
                    | prepend: site.baseurl | prepend: site.url }}"
              >Nicole Atkins - A Night of Serious Drinking</a></li>
        <li><a href="{{ "/lyric/2017/03/15/nicole-atkins-a-litle-crazy.html"
                    | prepend: site.baseurl | prepend: site.url }}"
              >Nicole Atkins -  A Little Crazy</a></li>
      </ul>

    </div>
  </div>
