
  <div class="white hoverable py-1">
    <div class="widget-header oc-blue-1">

      <strong>Table of Content</strong>
      <i data-feather="link-2" class="float-right"></i>

    </div>
    <div class="widget-body oc-blue-0">

      <ul class="widget-list">
        <li><a href="{{ "/lyric/2018/09/13/julien-baker-sprained-ankle.html"
                    | prepend: site.baseurl | prepend: site.url }}"
              >Julien Baker - Sprained Ankle</a></li>
        <li><a href="{{ "/lyric/2018/09/07/julien-baker-something.html"
                    | prepend: site.baseurl | prepend: site.url }}"
              >Julien Baker - Something</a></li>
      </ul>

    </div>
  </div>
