// Variables

$brand-red:  #802020;
$brand-gray: #404040;

$primary: $brand-red;
$link-color: map-get($oc-gray-list, '7');

$badge-font-weight: 400;
$badge-border-radius: 0;

// Fix for feather icons

$pagination-line-height: 1.5 !default;

// Nothing more here. I like the default one.


