
    <section class="aside-wrapper oc-{{ color }}-5">
      <div class="widget oc-white z-depth-3 hoverable">     

        <div class="widget-header oc-{{ color }}-1">
          {{ widget_header }}
        </div>

        <div class="widget-body responsive-img">
          {{ widget_body }}
        </div>

      </div>
    </section>
