---
layout: columns-double

# override color
color_main  : blue
color_aside : teal

# layout chuncks
blog_header     : post/blog-header.html
blog_footer     : post/blog-footer.html
aside_content   : post/aside-content.html
---

{% include post/toggler.html %}

{% if page.toc %}
  {% include {{ page.toc }} %}
{% endif %}

{% comment %}
  {% include service/google-adsense.html %}
  <br/>
{% endcomment %}

<div class="blog-content responsive-img">
  {{ content }}
</div>

<br/>
{% include post/navigation.html %}
