{% capture widget_header %}
  <strong>Archives</strong>
  <i data-feather="external-link" class="float-right"></i>
{% endcapture %}

{% capture widget_body %}
  {% assign pg_year   = page.date | date: '%Y' %} 
  {% assign postsByYear = site.posts | group_by_exp: "post", "post.date | date: '%Y'"  %}

  {% for year in postsByYear %}
    {% if pg_year == year.name %}
    <ul class="widget-list">
      {% for post in year.items %}
      <li>    
        <a href="{{ site.baseurl }}{{ post.url }}"
          >{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endfor %}
{% endcapture %}

{% assign color = "green" %}
{% include template/widget.html %}
