{% capture widget_header %}
  <strong>Archives</strong>
  <i data-feather="external-link" class="float-right"></i>
{% endcapture %}

{% capture widget_body %} 
   <ul class="widget-list">
      {% for post in site.posts %}
      <li>    
        <a href="{{ site.baseurl }}{{ post.url }}"
          >{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
{% endcapture %}

{% assign color = "green" %}
{% include template/widget.html %}
