{% capture widget_header %}
  <strong>Archives</strong>
  <i data-feather="external-link" class="float-right"></i>
{% endcapture %}

{% capture widget_body %}
  {% assign pg_year   = page.date | date: '%Y' %}
  {% assign pg_month  = page.date | date: '%m' %}
  
  {% assign postsByYear = site.posts | group_by_exp: "post", "post.date | date: '%Y'"  %}
  {% for year in postsByYear %}

    {% if pg_year == year.name %}
      {% assign postsByMonth = year.items | 
                group_by_exp: "post", "post.date | date: '%m'" %}
      {% assign postsByMonthSorted = postsByMonth | 
                sort: 'name' | reverse %}

      {% for month in postsByMonthSorted %}
        {% if pg_month == month.name %}
        <ul class="widget-list">
          {% for post in month.items %}
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}"
              >{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endcapture %}

{% assign color = "green" %}
{% include template/widget.html %}
