{% assign color = "cyan" %}

{% capture widget_header %}
  <strong>Categories</strong>
  <i data-feather="folder" class="float-right"></i>
{% endcapture %}

{% capture widget_body %}
  {% for cat in site.categories %}
    <a class="pb-5"
       href="{{ site.baseurl }}/pages/category#{{ cat[0] | slugify }}">
      <span class="badge oc-{{ color }}-3 z-depth-1 hoverable">
        {{ cat[0] }}&nbsp;
        <i data-feather="folder" class="feather-14"></i>
    </span></a>&nbsp;
  {% endfor %} 
{% endcapture %}

{% include template/widget.html %}
