{% comment %}
fake randomize by using year day for array under 365 data
{% endcomment %}

{% capture widget_header %}
  <strong>Web/Mobile Development</strong>
  <i data-feather="external-link" class="float-right"></i>
{% endcapture %}

{% capture widget_body %}
  <ul class="widget-list">
    {% assign selection = site.data.archives_gitlab | shuffle %}
    {% for archive in selection limit:5 %}
    <li><a href="https://epsi-rns.gitlab.io{{ archive.url }}"
      >{{ archive.title }}</a></li>
    {% endfor %}
  </ul>
{% endcapture %}

{% assign color = "lime" %}
{% include template/widget.html %}
