{% comment %}
fake randomize by using date day for array under 30 data
{% endcomment %}

{% capture widget_header %}
  <strong>Isle of Dotsites</strong>
  <i data-feather="users" class="float-right"></i>
{% endcapture %}

{% capture widget_body %}
  <ul class="widget-list">
    {% assign selection = site.data.friends | shuffle %}
    {% for friend in selection limit:5 %}
    <li><a href="{{ friend.url }}">{{ friend.title }}</a></li>
    {% endfor %}
  </ul>
{% endcapture %}

{% assign color = "pink" %}
{% include template/widget.html %}
