{% assign color = "grape" %}

{% capture widget_header %}
  <strong>Tags</strong>
  <i data-feather="tag" class="float-right"></i>
{% endcapture %}

{% capture widget_body %}
  {% for tag in site.tags %}
    <a class="pb-5"
       href="{{ site.baseurl }}/tags/{{ tag[0] | slugify }}">
      <span class="badge oc-white z-depth-1 hoverable">
        <i data-feather="tag" class="feather-14"></i>
        &nbsp;{{ tag[0] }}
    </span></a>&nbsp;
  {% endfor %} 
{% endcapture %}

{% include template/widget.html %}
