
  <div class="oc-white hoverable pt-1 pb-1">
    <div class="widget-header oc-red-1">

      <strong>Social Accounts</strong>
      <i data-feather="users" class="float-right"></i>

    </div>
    <div class="widget-body oc-red-0">

      <ul class="widget-list">
      <li><i data-feather="navigation" class="feather-14"></i>
        <a href="https://t.me/cahgentoo">@cahgentoo</a>
      </li>
      <li><i data-feather="circle" class="feather-14"></i>
        <a href="https://plus.google.com/+epsinurwijayadi">+epsinurwijayadi</a>
      </li>
      <li><i data-feather="heart" class="feather-14"></i>
        <a href="http://nurwijayadi.deviantart.com/">nurwijayadi</a>
      </li>
      <li><i data-feather="github" class="feather-14"></i>
        <a href="https://github.com/epsi-rns">epsi-rns</a>
      </li>
      <li><i data-feather="gitlab" class="feather-14"></i>
        <a href="https://gitlab.com/epsi-rns">epsi-rns</a>
      </li>
      <li><i data-feather="git-branch" class="feather-14"></i>
        <a href="https://bitbucket.org/epsi">epsi</a>
      </li>
      </ul>

    </div>
  </div>
