
  <div class="py-1" id="archive">
  {% for item in (0..terms.size) %}{% unless forloop.last %}
    {% assign this_word = term_array[item] | strip_newlines %}

    <section class="mb-2">
      <div class="widget oc-white z-depth-1 hoverable">     

        <div class="widget-header oc-{{ color_main }}-1">
          <div id="{{ this_word | slugify }}" class ="anchor-target">
            <i data-feather="{{ page.term_icon }}"></i>
            &nbsp; {{ this_word }}
          </div>
        </div>

        <div class="widget-body responsive-img">
          <div class="archive-list py-1">
          {% for post in terms[this_word] %}
            {% if post.title != null %}
              {% include index/each-post.html %}
            {% endif %}
          {% endfor %}
          </div>
        </div>

      </div>
    </section>

  {% endunless %}{% endfor %}
  </div>
