

  <footer class="p-2 mb-4">
    <div class="d-flex flex-row justify-content-center align-items-center">

      <div class="p-2 text-center">
        <img src="{{ site.baseurl }}/assets/images/license/cc-by-sa.png" 
             class="bio-photo" height="31" width="88"
             alt="CC BY-SA 4.0"></a>
      </div>

      <div class="p-2">
        This article is licensed under:<br/>
        <a href="https://creativecommons.org/licenses/by-sa/4.0/deed" 
           class="text-dark">
          <b>Attribution-ShareAlike</b> 4.0
          International (CC BY-SA 4.0)</a>
      </div>

    </div>
  </footer>

