{% capture spaceless %}
  {% assign total_pages = paginator.total_pages %}
  {% assign color_main  = page.color_main  | default: layout.color_main %}
{% endcapture %}

<nav aria-label="Page navigation">

  {% if total_pages > 1 %}
  <ul class="pagination justify-content-center">
  
    {% capture spaceless %}
      <!--
        Pagination links 
        * https://glennmccomb.com/articles/how-to-build-custom-hugo-pagination/
      -->

      {% assign page_current  = paginator.page %}
      {% assign links = paginator
                      | pagination_links: site.baseurl
                                        , page.paginate_root
                                        , site.pagination.permalink
      %}

      {% assign link_offset   = 2 %}  
      {% assign link_max      = link_offset   | times: 2 | plus: 1 %}
  
      {% assign lower_offset  = page_current  | minus: link_offset %}  
      {% assign upper_offset  = page_current  | plus: link_offset %}  

      {% assign lower_indicator = 2 %}
      {% assign upper_indicator = total_pages | minus: 1 %}
    {% endcapture %}

    <!-- First Page. -->
    {% unless paginator.page == 1 %}
      <li class="page-item icon-first ">
        <a class="page-link hoverable" href="{{ links.first }}" 
           rel="first">
          <i data-feather="chevrons-left"></i>
          <span class="sr-only">First</span>
        </a>
      </li>
    {% else %}
      <li class="page-item icon-first disabled">
        <span class="page-link">
          <i data-feather="chevrons-left"></i></span>
      </li>
    {% endunless %}

    <!-- Previous Page. -->
    {% if paginator.previous_page %}
      <li class="page-item icon-previous">
        <a class="page-link hoverable" 
           href="{{ links.prev }}"
           rel="prev">
          <i data-feather="chevron-left"></i>
          <span class="sr-only">Previous</span>
        </a>
      </li>
    {% else %}
      <li class="page-item icon-previous disabled">
        <span class="page-link">
          <i data-feather="chevron-left"></i></span>
      </li>
    {% endif %}

    {% if total_pages > link_max %}
      <!-- First Page. -->
      {% if lower_offset > 1 %}
        <li class="page-item first">
          <a class="page-link hoverable"
             href="{{ links.first }}">
            <span class="sr-only">Page 1</span>
          1</a>
        </li>
      {% endif %}

      <!-- Early (More Pages) Indicator. -->
      {% if lower_offset > lower_indicator %}
        <li class="pages-indicator first disabled">
          <span class="page-link">&hellip;</span>
        </li>
      {% endif %}
    {% endif %}

    <!-- Page numbers. -->
    {% for page_cursor in (1..total_pages) %}

      {% capture spaceless %}
        <!-- Flag Calculation -->
        {% assign page_current_flag = page_cursor
                  | is_show_adjacent: page_current
                                    , total_pages
                                    , link_offset %}

        {% if page_current_flag == true %}
        <!-- Calculate Offset Class. -->
          {% assign diff_offset = page_cursor | minus: page_current | abs %}
        {% endif %}
      {% endcapture %}

      <!-- Show Pager. -->
      {% if page_current_flag == true %}
      <li class="page-item
                 {% if page_cursor == page_current %}active{% endif %}
                 pagination--offset-{{ diff_offset }}">
        {% if page_cursor == page_current %} 
          <span class="page-link">
            {{ page_cursor }}
          </span>
        {% else %}
          <a class="page-link hoverable"
             href="{{ links.pages[page] }}"
           ><span class="sr-only">Page {{ page_cursor }}</span>
           {{ page_cursor }}</a>
        {% endif %}
      </li>
      {% endif %}

    {% endfor %}

    {% if total_pages > link_max %}
      <!-- Late (More Pages) Indicator. -->
      {% if upper_offset < upper_indicator %}
        <li class="pages-indicator last disabled">
          <span class="page-link">&hellip;</span>
        </li>
      {% endif %}

      <!-- Last Page. -->
      {% if upper_offset < total_pages %}
        <li class="page-item last">
          <a class="page-link hoverable" 
             href="{{ links.last }}"
          ><span class="sr-only">Page {{ total_pages }}</span>
          {{ total_pages }}</a>
        </li>
      {% endif %}
    {% endif %}

    <!-- Next Page. -->
    {% if paginator.next_page %}
      <li class="page-item icon-next">
        <a class="page-link hoverable" 
           href="{{ links.next }}" 
           rel="next">
          <i data-feather="chevron-right"></i>
          <span class="sr-only">Next</span>
        </a>
      </li>
    {% else %}
      <li class="page-item icon-next disabled">
        <span class="page-link">
          <i data-feather="chevron-right"></i></span>
      </li>
    {% endif %}

    <!-- Last Page. -->
    {% unless paginator.page == total_pages %}
      <li class="page-item icon-last">
        <a class="page-link hoverable" href="{{ links.last }}" 
           rel="last">
          <i data-feather="chevrons-right"></i>
          <span class="sr-only">Last</span>
        </a>
      </li>
    {% else %}
      <li class="page-item icon-last disabled">
        <span class="page-link">
          <i data-feather="chevrons-right"></i></span>
      </li>
    {% endunless %}
  </ul>
  {% endif %}
</nav>
